.edit_page_area {
  width: 100vw;
  height: 100vh;
  background-image: url('nezumiPC.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.site_btn {
  background-color: #C0C0C0;
　margin: 20px;
}

.language_btn {
  background-color: #000080;
  margin: 20px;
}